<div class="container">

  <div class="header">
    <h2>CENTRO MEDICO HEMOHEARTH</h2>
  </div>

  <div class="formulario">
    <form example-form (ngSubmit)="onSubmit()" #formDiabetico="ngForm">

      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ingreese su nombre" name="nombre" [(ngModel)]="diabeticoModel.nombre" type="text">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Apellido</mat-label>
        <input matInput placeholder="Ingreese su apellido" name="apellido" [(ngModel)]="diabeticoModel.apellido"
          type="text">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Cedula</mat-label>
        <input matInput placeholder="Ingreese su cedula" name="cedula" [(ngModel)]="diabeticoModel.cedula" type="text">
      </mat-form-field>

      <mat-form-field class="select">
        <mat-label>Eps</mat-label>
        <select matNativeControl required name="eps" [(ngModel)]="diabeticoModel.eps">
          <option value="comfandi">Comfandi</option>
          <option value="sura">Sura</option>
          <option value="sanitas">Sanitas</option>
          <option value="emssanar">Emsannar</option>
        </select>
      </mat-form-field>

      <mat-form-field class="select">
        <mat-label>Sintomas</mat-label>
        <select matNativeControl required name="sintomas" [(ngModel)]="diabeticoModel.sintomas">
          <option value="cuadro neurovegetativos">cuadro neurovegetativos</option>
          <option value="trastornos de conciencia">trastornos de conciencia</option>
          <option value="signos de deshidratacion">signos de deshidratación</option>
          <option value="sepsis">sepsis</option>
          <option value="patologías agudas cardiovascular neurológica">patologías agudas cardiovascular neurológica</option>
        </select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Nivel</mat-label>
        <input matInput name="nivel" [(ngModel)]="diabeticoModel.nivel" type="text">
      </mat-form-field>

      <button mat-raised-button color="primary">Validar</button>
      <button mat-raised-button color="primary" type="submit">Ingresar</button>

    </form>
  </div>


  <div class="tabla">
  <app-tabla></app-tabla>
  </div>

</div>