table {
    width: 100%;
}
.b{
    display: flex;
    color: #5b36e2;
   
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    justify-content: center;
}

.example-full-width {
    width: 100%;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.select {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    justify-content: center;
}